*{
    box-sizing: border-box;
}
body{
    background-color: #152238;
    font-family: sans-serif;
    margin-left: 20px;
    margin-right: 20px;
  
}
.heading img{
    width: 20px;
    height: 20px;
}
.logo{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    margin-right:900px;
    color:white;
    font-size: 14px;
  }

  .navbar{
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  .nav-right img{
      margin-left: 30px;
  }
  .welcome h2{
      font-size: 20px;
      color: white;
  }
  .box img{
      width:100px;
      height: 100px;
  }
  section{
      max-width:1000px;
      
  }
  .containers{
    display: flex;
    flex-wrap: wrap;
    
}
  .box{
      background-color: white;
      width:300px;
      margin:0 auto;
      height: 300px;
      margin-bottom: 20px;
    border-radius: 10px;
    padding:25px;
    align-items: flex-start;
  }
  .company{
      display: flex;

      align-items: center;
  }
  .container1{
      width:250px;
    height: 250px;
    font-size: 12px;
    line-height: 1.6;
    }
    .container2{
        width:250px;
        height: 250px;
        font-size: 12px;
        line-height: 1.6;
    }
    .firstcontainer{
        display: flex;
        flex-direction: column ;
    }
    .container3{
        width: 250px;
        height: 500px;
        font-size: 12px;
        line-height: 1.6;
    }
    .container4{
        width: 250px;
        height: 250px;
        font-size: 12px;

    }
    .container5{
        width: 350px;
        height: 250px;
        font-size: 12px;

    }
    .firstcontainer{
        display: flex;
        flex-direction: column;
    }
    .secondcontainer{
        display: flex;
        flex-direction: column;  
    }
   